---
import { pageDescription } from "@utils/configs";
import MainLayout from "@layouts/main.astro";
---

<MainLayout
  title="Gugupay | Dashboard"
  description={pageDescription}
  isWallet={true}
>
  <div></div>
</MainLayout>
