---
import { NAVIGATION_MENU } from '../../configs';
---

<header>
  <nav class="px-4 lg:px-6 py-2.5">
      <div class="flex flex-wrap justify-between items-center container mx-auto">
          <a href="https://flowbite.com" class="flex items-center">
          <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap">Flowbite</span>
          </a>
          <div class="flex items-center lg:order-2">
            <!-- <a href="#" class="focus:ring-4 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 mr-2 focus:outline-none">Connect Wallet</a> -->
            <a href="#" class="inline-flex items-center justify-center px-3 py-2 lg:px-5 lg:py-2.5 text-base font-medium text-center border rounded-lg focus:ring-4">
              Dashboard
            </a> 
            <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm rounded-lg lg:hidden focus:outline-none focus:ring-2" aria-controls="mobile-menu-2" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            {Object.entries(NAVIGATION_MENU).map(([title1, val1]) => {
              return (
                <div class="dropdown dropdown-hover">
                  <label tabindex="0" class="btn">
                    {title1}
                  </label>
                  <ul
                    tabindex="0"
                    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
                  >
                    {Object.entries(val1).map(([title2, link]) => {
                      const target = link.startsWith("http")
                        ? "_blank"
                        : "_self";
                      return (
                        <li>
                          <a href={link} target={target}>
                            {title2}
                          </a>
                        </li>
                      );
                    })}
                  </ul>
                </div>
              );
            })}
          </div>
      </div>
  </nav>
</header>
